{% extends 'base2.html' %} 
{% load static %} 
{% block title %} Password Reset Invalid {% endblock title %} 

{% block authcontent %}
<div class="app-auth-branding mb-4">
  <a class="app-logo" href="index.html"
    ><img class="logo-icon me-2" src="{% static 'assets/images/app-logo.svg' %}" alt="logo"
  /></a>
</div>
<h2 class="auth-heading text-center mb-4">Password Reset Completed</h2>

<div class="auth-intro mb-4 text-center">
    Your password has been changed succefully. You can now logged
</div>

<div class="auth-option text-center pt-5">
    <a class="app-link" href="{% url 'login' %}">Log in</a>
    <span class="px-2">|</span>
    <a class="app-link" href="{% url 'register' %}">Sign up</a>
</div>

</div>
<!--//auth-form-container-->

{% endblock authcontent %}