{% extends 'base2.html' %} 
{% load static %} 
{% block title %} Password Reset Invalid {% endblock title %} 

{% block authcontent %}
<div class="app-auth-branding mb-4">
  <a class="app-logo" href="index.html"
    ><img class="logo-icon me-2" src="{% static 'assets/images/app-logo.svg' %}" alt="logo"
  /></a>
</div>
<h2 class="auth-heading text-center mb-4">Password Reset Invalid</h2>

<div class="auth-intro mb-4 text-center">
    The password reset link you provided is invalid. Please request a new password reset.
</div>

</div>
<!--//auth-form-container-->

{% endblock authcontent %}
