{% extends 'base2.html' %} 
{% load static %} 
{% block title %} Password Reset Request {% endblock title %} 

{% block authcontent %}
<div class="app-auth-branding mb-4">
  <a class="app-logo" href="index.html"
    ><img class="logo-icon me-2" src="{% static 'assets/images/app-logo.svg' %}" alt="logo"
  /></a>
</div>
<h2 class="auth-heading text-center mb-4">Password Reset Request</h2>

<div class="auth-intro mb-4 text-center">
  Enter your email address below. We'll email you a link to a page where you can
  easily create a new password.
</div>

<div class="auth-form-container text-left">
  <form class="auth-form resetpass-form" method="POST">
    {% csrf_token %}
    <div class="email mb-3">
      <label class="sr-only" for="reg-email">Your Email</label>
      <input
        id="reg-email"
        name="email"
        type="email"
        class="form-control login-email"
        placeholder="Your Email"
        required="required"
      />
    </div>
    <!--//form-group-->
    <div class="text-center">
      <button
        type="submit"
        class="btn app-btn-primary btn-block theme-btn mx-auto"
      >
        Reset Password
      </button>
    </div>
  </form>

  <div class="auth-option text-center pt-5">
    <a class="app-link" href="{% url 'login' %}">Log in</a>
    <span class="px-2">|</span>
    <a class="app-link" href="{% url 'register' %}">Sign up</a>
  </div>
</div>
<!--//auth-form-container-->

{% endblock authcontent %}
